* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.App {
  text-align: center;
}

.button {
  padding: 5px 10px;
  background-color: blueviolet;
  border: none;
  border-radius: 10px;
  color: white;
  cursor: pointer;
  font-weight: 500;
  font-size: 1rem;
  text-decoration: none;
}

.button:hover {
  opacity: 0.8;
}
